* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: 'Montserrat', sans-serif;
}

html {
  font-size: 62.5%;
}

html,
body {
  height: 100vh;
  font-family: "Source Sans Pro";
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  font-size: 1.6rem;
}

@media (max-width: 500px) {
  html {
    font-size: 60%;
  }
}
