/*    INICIO DO HOME DA MINHA APLICAÇÃO   */

.title{
  margin: 15px 0;
  text-align: center;
  background-color: gray;
  color: white;
  padding: 5px 0;
  border-radius: 5px;
}

.crm-box{
  width: 100%;
  display: flex;
  margin: 0 0 15px 0;
}

.crm-single1{
  width: 40%;
  margin: 0 20px 0 0;
}

.crm-button{
  width: 100%;
  height: 100%;
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.crm-single2{
  width: 70%;
}

.crm-single2 Button{
  display: flex;
  align-items: center;
  padding: 0 2%;
}

.crm-single2 Button p{
  margin: 0 0 0 5px;
}

.crm-input{
  height: 100%;
}

.crm-font{
  font-size: 1.8rem;
}

@media (max-width: 430px) {
  .crm-box{
    flex-wrap: wrap;
    margin: 0;
  }

  .crm-single1, .crm-single2{
    width: 100%;
    margin: 0 0 15px 0;
  }

  .crm-button{
    padding: 1.5% 0;
  }

  .crm-single2 Button{
    padding: 0 4%;
  }

  .crm-single2 Button p{
    display: none;
  }
}
